.operationContainer {
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;   
    margin-bottom: 3px; 
}

.operation {
    display: inline-block;
}

.operationContainer input, .operationContainer select {
    margin: 0 5px;
}